* { margin: 0; padding: 0; box-sizing: border-box;

  /* Color scheme */

  --textcolor: #343a40;
  --bgcolor: #FFFFFF;
  --highlight: #F05D23;

}

body {
    margin: 0;
    padding: 15px;
    font-size: 16px;
    line-height: 1.15;
    font-family: "Charter", sans-serif;
    line-height: 1.5;
    color: var(--textcolor);
    background: var(--bgcolor);
}

#wrap {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#roundedbox {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #2484c1;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 15px;
}

#leftbord {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-left: 0.2rem solid #2484c1;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}


h1 {
    margin: 0px;
    background: -webkit-linear-gradient(90deg,#225367, #88e9e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    background: -webkit-linear-gradient(90deg, #225367, #88e9e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: .5em;
}

p {
  margin-bottom: .3em
}

#links a {
    margin-right: 5px;
}

ul {
    padding-left: 20px;
}

/* A link that has not been visited */
a:link {
    color: #219ebc;
}
/* A link that has been visited */
a:visited {
    color: #023047;
}
/* A link that is hovered on */
a:hover {
    color: #ffb703;
}
/* A link that is selected */
a:active {
    color: #ede0d4;
}

