* { margin: 0; padding: 0; box-sizing: border-box;

  /* Color scheme */

  --textcolor: #343a40;
  --bgcolor: #FFFFFF;
  --highlight: #F05D23;

}

body {
    margin: 0;
    padding: 15px;
    font-size: 16px;
    line-height: 1.15;
    font-family: "Charter", sans-serif;
    line-height: 1.5;
    color: var(--textcolor);
    background: var(--bgcolor);
}

#wrap {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 0px;
    color:  #ffb703;
}

h2 {
    color: #ffb703;
    margin-bottom: .5em;
}

p {
  margin-bottom: .3em
}

#links a {
    margin-right: 5px;
}

ul {
    padding-left: 20px;
}

/* A link that has not been visited */
a:link {
    color: #219ebc;
}
/* A link that has been visited */
a:visited {
    color: #023047;
}
/* A link that is hovered on */
a:hover {
    color: #ffb703;
}
/* A link that is selected */
a:active {
    color: #ede0d4;
}

.later {
  margin-top: 10px
}

.project {
    margin-top: 10px;
}

.pub {
    margin-top: 10px;
}

.pub-venue {
    display: inline;
    font-weight: bold;
}

.pub-authors {
    display: inline;
    font-style: italic;
}

.nodot {
    list-style-type: none;
    padding-left: 0;
}

.bdiv {
    margin-top: 5px;
}
